doctype html
html
  head
    title POST Request Example
  body
    h1 Send a POST Request
    form(action='/submit', method='POST')
      label(for='name') Name:
      input(type='text', id='name', name='name')
      br
      label(for='email') Email:
      input(type='email', id='email', name='email')
      br
      button(type='submit') Submit
